.widget-header {
    color: $color-text-accent;

    .widget-header-title {
        font-size: $font-size-xl;
    }

    .widget-header-description {
        font-size: $font-size-l;
        padding: 1rem 1.5rem;
    }
}
