.widget-header {

    .widget-header-title {
        color: $color-text-accent;
        font-family: $font-primary;
        font-size: $font-size-xl;
    }

    .widget-header-description {
        color: $color-text-subtle;
        font-size: $font-size-m;
    }
}
