.widget-text {
    color: $color-text-subtle;
    padding: 1.5rem 0;

    .widget-text-subtitle {
        margin: 1rem 0 0 0;
    }

    .widget-text-paragraph {
        margin: 0.5rem 0 0 0;
    }
}
