body {
    background-color: $color-background-main;
    font-family: Arial, Helvetica, sans-serif;
    margin-inline: auto;
    max-width: 1444px;

    a {
        color: $color-text-main;
    }

    main {
        margin-top: 3rem;
        padding-inline: 9rem;
    }
}
