header {
    .header-nav {
        .header-nav-label {
            display: none;

            @media only screen and (max-device-width: $tablet) {
                align-items: center;
                background-color: $color-lightblue;
                border-bottom: 1px solid $color-grey;
                column-gap: 4rem;
                display: flex;
                font-size: $font-size-big;
                font-weight: $font-weight-semibold;
                padding: 2rem 4rem;

                a {
                    font-size: $font-size-xxxlarge;
                }
            }
        }

        .header-nav-input {
            display: none;

            &:checked {
                +.header-nav-menu {
                    display: block;
                }
            }
        }

        .header-nav-menu {
            align-items: center;
            background-color: $color-lightblue;
            display: grid;
            font-size: $font-size-large;
            font-weight: $font-weight-semibold;
            grid-template-columns: repeat(5, 1fr);
            text-align: center;
            text-transform: uppercase;

            @media only screen and (max-device-width: $tablet) {
                border-radius: 1rem;
                display: none;
                font-size: 2rem;
                margin: 2rem 2rem 0 2rem
            }

            .header-nav-menu-item {
                padding: 2rem 1rem;

                @media only screen and (max-device-width: $tablet) {
                    &:not(:last-child) {
                        border-bottom: 1px solid $color-grey;
                    }
                }

                &#homepage {
                    position: relative;
    
                    a {
                        position: absolute;
                        display: grid;
                        justify-content: center;
                        top: -2.5rem;
                        width: 90%;

                        img {
                            filter: drop-shadow(2px 4px 6px $color-black);
                        }
                    }

                    @media only screen and (max-device-width: $tablet) {
                        display: none;
                    }
                }

                a {
                    display: block;
    
                    &:hover {
                        text-decoration: 0.5rem underline;
                    }
                }
            }
        }
    }
}
