$color-black: #000000;
$color-blue: #87CEFA;
$color-darkblue: #03224C;
$color-grey: #808080;
$color-lightblue: #F0F8FF;

$font-size-medium: 1rem;
$font-size-large: 1.1rem;
$font-size-xlarge: 1.5rem;
$font-size-xxlarge: 2rem;
$font-size-xxxlarge: 4rem;
$font-size-big: 6rem;

$font-weight-semibold: 600;

$desktop: 1024px;
$tablet: 768px;
