{% extends 'base.html.twig' %}

{% block body %}
    {% include 'layout/header.html.twig' %}
    <main>
        {% block main %}
        {% endblock %}
    </main>
    {% include 'layout/footer.html.twig' %}
{% endblock %}
