<footer>
    <ul class='footer-nav'>
        <li class'footer-nav-item'>©2024 Tous droits réservés</li>
        <li class='footer-nav-item'><a href='#' title='Consultez les mentions légales' class='link link-secondary'>Mentions Légales</a></li>
        <li class='footer-nav-item'><a href='#' title='Consultez les conditions générales de vente' class='link link-secondary'>CGV</a></li>
        <li class='footer-nav-item'>
            <a href='https://www.instagram.com/scythe_owens/' title='Consultez le compte instagram des Editions Lunaires' class='link link-secondary'>
                <img src='{{ asset('images/logo/instagram.png') }}' alt='Logo Instagram'/>
            </a>
        </li>
    </ul>
</footer>